<!DOCTYPE html>
<html>
	<head>
		<title>The Web Comic Vault</title>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
		<script src="/javascripts/angularApp.js"></script>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body ng-app="webcomicvault">
		<section>
		<nav>
			<a href="/settings">Settings</a>
			<a href="/comics">My webcomics</a>
			<a href="/favs">My favorites</a>
			<a href="/merch">Merchandise</a>
		</nav>
		</section>
		<section>
			<ui-view></ui-view>
		</section>
		<script type="text/ng-template" id="/home.html">
			<div>
				<h1>Web Comic Vault</h1>
			</div>
			<div>
				<p>{{welcome}}</p>
				<p>{{comicIntro}}</p>
				<ul>
					<li ng-repeat="comic in comics"><a href="{{comic.url}}">{{comic.title}}</a></li>
				</ul>
			</div>
			<form ng-submit="addComic()">
				<input type="text" ng-model="title"></input>
				<input type="text" ng-model="url"></input>
				<button type="submit">Add a comic</button>
			</form>
		</script>
		<!--script type="text/ng-template" id="/comics.html">
		  <div class="page-header">
			<h3>
			  <a ng-show="comic.url" href="{{comic.url}}">
				{{comic.title}}
			  </a>
			  <span ng-hide="comic.url">
				{{comic.title}}
			  </span>
			</h3>
		  </div>
		</script-->
	</body>
</html>