<!DOCTYPE html>
<html>
	<head>
		<title>The Web Comic Vault</title>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
		<script src="/javascripts/angularApp.js"></script>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body ng-app="webcomicvault" ng-controller="Main">
		<section>
		<nav>
			<a href="/settings">Settings</a>
			<a href="/comics">My webcomics</a>
			<a href="/favs">My favorites</a>
			<a href="/merch">Merchandise</a>
		</nav>
		</section>
		<section>
			<div>
				<p>{{welcome}}</p>
				<p>{{comicIntro}}</p>
				<ul>
					<li ng-repeat="comic in comics"><a href="{{comic.url}}">{{comic.title}}</a></li>
				</ul>
			</div>
		</section>
		<section>
			<form ng-submit="addComic()">
				<input type="text" ng-model="title"></input>
				<input type="text" ng-model="url"></input>
				<button type="submit">Add a comic</button>
			</form>
		</section>
	</body>
</html>