<!DOCTYPE html>
<html>
    <head>
        <title>The Web Comic Vault</title>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
        <script src="/scripts/ang.min.js"></script>
        <link rel="stylesheet" href="/styles/style.css" />
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
    </head>
    <body ng-app="webcomicvault">
        <div id="navstrip">
            <div ng-controller="Nav">
                <nav id="nav_left">
                    <a href="/#/user/comics" ng-show="isLoggedIn()">My webcomics</a>
                    <a href="/#/comics">All webcomics</a>
                    <a href="/#/categories">Categories</a>
                    <a href="/#/user" ng-show="isLoggedIn()">My account</a>
                    <a href="/#/about">About this site</a>
                </nav>
                <nav id="nav_right">
                    <span ng-show="isLoggedIn()">Welcome {{currentUser}}</span>
                    <a href="/" ng-show="isLoggedIn()" ng-click="logOut()">Log Out</a>
                    <a href="/#/login" ng-hide="isLoggedIn()">Log In</a>
                    <a href="/#/register" ng-hide="isLoggedIn()">Register</a>
                </nav>
            </div>
        </div>
        <div id="contents">
            <div id="favorites" ng-controller="Favs">
                <h1>Favorites</h1>
                <ul>
                    <li ng-repeat="com in favs">
                        <a href="/#/comics/{{com.title}}">{{com.title}}</a>
                        <a href="{{com.url}}"><img class="icon" src="images/external_link.png" alt="Go to site"/></a>
                    </li>
                </ul>
            </div>
            <div id="payload">
                <ui-view></ui-view>
            </div>
            <div id="feed" ng-controller="Strips">
                New comics feed
            </div>

        </div>
        <script type="text/ng-template" id="/about.html">
            <section>
                <h1>origin</h1>
                <p>
                    This website was created as a student project for a Web Apps course at Hogeschool Gent (Belgium).
                </p>
                <span ng-show="isLoggedIn()">To the left, you can find your favorite comics</span>
            </section>
        </script>
        <script type="text/ng-template" id="/home.html">
            <section>
                Welcome to the Web Comic Vault, your daily fix for online comics.
            </section>
        </script>
        <script type="text/ng-template" id="/login.html">
            <div ng-show="error" class="alert alert-danger row">
            <span>{{ error.message }}</span>
            </div>

            <form ng-submit="logIn()"
            style="margin-top:30px;">
            <h3>Log In</h3>

            <div class="form-group">
            <input type="text"
            class="form-control"
            placeholder="Username"
            ng-model="user.username"></input>
            </div>
            <div class="form-group">
            <input type="password"
            class="form-control"
            placeholder="Password"
            ng-model="user.password"></input>
            </div>
            <button type="submit" class="btn btn-primary">Log In</button>
            </form>
        </script>
        <script type="text/ng-template" id="/categories.html">
            <ul>
            <li ng-repeat="cat in categories"><a href="/#/category/{{cat.name}}" title="{{cat.description}}">{{cat.name}}</li>
            </ul>
        </script>
        <script type="text/ng-template" id="/category.html">
            {{category.name}}
            <ul>
            <li ng-repeat="comic in comics"><a href="/#/comics/{{comic.title}}" title="{{comic.description}}">{{comic.title}}</li>
            </ul>
        </script>
        <script type="text/ng-template" id="/comic.html">
            <h1>{{comic.title}}</h1>
            <p ng-repeat="strip in strips"><img ng-repeat="url in strip.url" src="{{url}}"/>{{strip.title}}</p>
        </script>
        <script type="text/ng-template" id="/user.html">
            {{user}}
        </script>
        <script type="text/ng-template" id="/comics.html">
            <div>
            <ul>
            <li ng-repeat="com in comics">
            <a href="/#/comics/{{com.title}}">{{com.title}}</a>
            <a href="{{com.url}}"><img class="icon" src="images/external_link.png" alt="Go to site"/></a>
            </li>
            </ul>
            </div>
        </script>
        <script type="text/ng-template" id="/user/comics.html">
            <div>
            <ul>
            <li ng-repeat="com in favs">
            <a href="/#/comics/{{com.title}}">{{com.title}}</a>
            <a href="{{com.url}}"><img class="icon" src="images/external_link.png" alt="Go to site"/></a>
            </li>
            </ul>
            </div>
        </script>
        <script type="text/ng-template" id="/register.html">
            <div ng-show="error">
            <span>{{ error.message }}</span>
            </div>

            <form ng-submit="register()"
            style="margin-top:30px;">
            <h3>Register</h3>

            <div class="form-group">
            <input type="text"
            class="form-control"
            placeholder="Username"
            ng-model="user.username"></input>
            </div>
            <div class="form-group">
            <input type="password"
            class="form-control"
            placeholder="Password"
            ng-model="user.password"></input>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </script>

    </body>
</html>