<!DOCTYPE html>
<html>
	<head>
		<title>The Web Comic Vault</title>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
		<script src="/scripts/ang.min.js"></script>
		<link rel="stylesheet" href="/styles/style.css" />
		<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
	</head>
	<body ng-app="webcomicvault">
		<section>
			<nav ng-controller="Nav">
				<span ng-show="isLoggedIn()">Welcome {{currentUser}}</span>
				<a href="/#/user/comics" ng-show="isLoggedIn()">My webcomics</a>
				<a href="/#/comics">All webcomics</a>
				<a href="/#/user" ng-show="isLoggedIn()">My account</a>
				<a href="" ng-show="isLoggedIn()" ng-click="logOut()">Log Out</a>
				<a href="/#/login" ng-hide="isLoggedIn()">Log In</a>
				<a href="/#/register" ng-hide="isLoggedIn()">Register</a>
				<a href="/#/about">About this site</a>
			</nav>
			<div>
				<h1>Web Comic Vault</h1>
			</div>
		</section>
		<section>
			<ui-view></ui-view>
		</section>
		<script type="text/ng-template" id="/user.html">
		{{user}}
		</script>
		<script type="text/ng-template" id="/comics.html">
				<ul>
					<li ng-repeat="com in comics"><a href="{{com.url}}">{{com.title}}</a></li>
				</ul>
		</script>
		<script type="text/ng-template" id="/home.html">
			<div>
				<p>{{welcome}}</p>
				<p>{{comicIntro}}</p>
				<ul>
					<li ng-repeat="comic in comics"><a href="{{comic.url}}">{{comic.title}}</a></li>
				</ul>
			</div>
			<form ng-submit="addComic()">
				<input type="text" ng-model="title"></input>
				<input type="text" ng-model="url"></input>
				<button type="submit">Add a comic</button>
			</form>
		</script>
		<script type="text/ng-template" id="/register.html">
			<div ng-show="error">
			<span>{{ error.message }}</span>
			</div>

			<form ng-submit="register()"
			style="margin-top:30px;">
			<h3>Register</h3>

			<div class="form-group">
				<input type="text"
				class="form-control"
				placeholder="Username"
				ng-model="user.username"></input>
			</div>
			<div class="form-group">
				<input type="password"
				class="form-control"
				placeholder="Password"
				ng-model="user.password"></input>
			</div>
			<button type="submit" class="btn btn-primary">Register</button>
			</form>
		</script>
		<script type="text/ng-template" id="/login.html">
		  <div ng-show="error" class="alert alert-danger row">
			<span>{{ error.message }}</span>
		  </div>

		  <form ng-submit="logIn()"
			style="margin-top:30px;">
			<h3>Log In</h3>

			<div class="form-group">
			  <input type="text"
			  class="form-control"
			  placeholder="Username"
			  ng-model="user.username"></input>
			</div>
			<div class="form-group">
			  <input type="password"
			  class="form-control"
			  placeholder="Password"
			  ng-model="user.password"></input>
			</div>
			<button type="submit" class="btn btn-primary">Log In</button>
		  </form>
		  </script>
		<!--script type="text/ng-template" id="/comics.html">
			<div class="page-header">
			<h3>
				<a ng-show="comic.url" href="{{comic.url}}">
				{{comic.title}}
				</a>
				<span ng-hide="comic.url">
				{{comic.title}}
				</span>
			</h3>
			</div>
		</script-->
	</body>
</html>